body,p,h1,h2,h3,h4,h5,h6,ul,li,dl,ol{
	margin:0;
	padding:0;
}
body{
  background:url('../images/bg.png') no-repeat center center;
}
@font-face{
  font-family:"aa";
  src:url('../font/HelveticaUltraLight.ttf');
}

.iphone6{
  width:380px;
  height:680px;
  margin:0 auto;
  padding-top:120px;
  background:url('../images/iphone6.png') no-repeat -2px ;
  position:relative;
}

body{
  font-family:"aa";
}

a{
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
.jisuanqi{
	width:340px;
  overflow:hidden;
  margin-left:28px;
}
.xianshiping{
	width:322px;
	background-color: black;
	height:164px;
	position: relative;
	margin-left:-1px;
}
.xianshiping .xianshizi{
	position: absolute;
	right:15px;
	bottom:4px;
	color:white;
	font-size:4em;

	max-width:300px;
	overflow:hidden;
}

.item{
	cursor: pointer;
	text-align:center;
	line-height: 80px;
	font-size:2em;
	width:80px;
	height:80px;
	border:1px solid #040404;
	float:left;
	margin-top:-1px;
	margin-left:-1px;
	background-color: #c5c7c9;
  -webkit-transition:.2s ease-in-out;
}
.jiakuan{
	width:161px;
}
.chengse{
	color:white;
	background-color: #df8425;
}
.dingwei{
	position: absolute;
	width:200px;
	height:50px;
	text-align: center;
	line-height: 50px;
	font-size:2em;

}
